.gradle

build
!gradle/wrapper/gradle-wrapper.jar
out
*.log
.vertx

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.vertx/*
/conf/

rules-interpreter/**/gen/*
rules-interpreter/**/*.class
rules-interpreter/target/**
rules-cli/target/**
/splunk-otel-javaagent.jar
target/

/microservice/src/main/resources/conf/local-dev.yaml


.gradle-cache/


.DS_Store


.vscode/

# Node/TypeScript
node_modules/
**/node_modules/
**/.cache/
**/.turbo/
**/.eslintcache
**/.rollup.cache/
**/.parcel-cache/
**/.vite/
**/dist/
**/build/
**/*.tsbuildinfo
**/coverage/
**/.nyc_output/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.env
**/.env.*
**/.env.local